.Console {
  position: relative;
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: flex-end;

  font-size: 2vw;

  max-height: calc(100vh - 2em);
  padding: 1em;

  color: limegreen;
  overflow: hidden;
}
