@import url('./inter-ui.css');
@import './normalize.css';

* {
    box-sizing: border-box;
}

html {
    overflow: hidden;

    --text-color: #49be53;
    --highlight-color: #00ccff;
}

body {
    background-color: #334433;
    background-image: linear-gradient(transparent 0, transparent 50%, black 100%);
    background-repeat: repeat;
    /* background-size: 7.5vh; */

    color: var(--text-color);
    font-family: 'Inter UI', Arial, Helvetica, sans-serif;

    display: flex;
    place-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-shadow: inset 0 0 50vmax black;
}

a {
    color: white;
    text-decoration: none;
    transition: color 100ms linear;
}

a:focus,
a:hover {
    color: var(--highlight-color);
}

#console {
    margin: 0;
    color: var(--text-color);
    text-shadow: 0 0 0.1em var(--text-color);

    font-size: 15vmax;
    font-weight: 800;
    line-height: 0.725em;
    letter-spacing: -0.15em;

    opacity: 0.5;

    user-select: none;
}

#canvas {
    margin-right: 0.1em;
}

.hide {
    display: none;
}