.ConsoleInput {
  min-height: 5em;
  overflow: hidden;
}

.ConsoleInputTextArea,
.ConsoleInputFacade {
  width: 100%;
  height: 1em;

  padding: 0;
  border: none;

  box-shadow: none;
  outline: none;
  background: transparent;

  color: white;
  text-shadow: 0 0 0.3em limegreen;

  font-size: inherit;
  font-family:
    console,
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;

  pointer-events: none;

}

.ConsoleInputFacade > * {
  height: 0;
  line-break: anywhere;
  white-space: pre-wrap;
}

.ConsoleInputTextArea {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  caret-color: transparent;
}

.ConsoleInputCursor,
.ConsoleInput::selection {
  position: relative;
  background: white;
  color: black;
  text-shadow: none;
}

.ConsoleInputCursor {
  padding: 1px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background: white;
    color: black;
  }
  50% {
    background: white;
    color: black;
  }
  51% {
    background: transparent;
    color: white;
  }
  100% {
    background: transparent;
    color: white;
  }
}