.ConsoleLine {
  display: block;
  position: relative;
  line-height: 1em;

  margin: 0.25em 0;

  font-size: inherit;
  text-shadow: 0 0 1rem limegreen;

  white-space: pre;
}

.ConsoleLine:empty {
  min-height: 1em;
}

.isCommandLine {
  padding-left: 0.75em;
}

.isCommandLine::before {
  content: '>';
  position: absolute;
  left: 0;
}

.white,
.isUser {
  color: white;
}

.isCommandLine.white:before {
  border-top-color: white;
  border-right-color: white;
}

.yellow {
  color: yellow;
}

.purple {
  color: fuchsia;
}

.isCommandLine.yellow:before {
  border-top-color: yellow;
  border-right-color: yellow;
}

.ConsoleLine:global(.textCenter) {
  text-align: center;
}
