.ConsoleLine {
  display: block;
  position: relative;
  line-height: 1em;

  margin: 0.2em 0;

  font-size: inherit;
  text-shadow: 0 0 1rem limegreen;

  white-space: pre;
}

.ConsoleLine:empty {
  min-height: 1em;
}

.isCommandLine {
  padding-left: 0.75em;
}

.isCommandLine::before {
  content: '>';
  position: absolute;
  left: 0;
}

.isCommandLine.white:before {
  border-top-color: white;
  border-right-color: white;
}

.isCommandLine.yellow:before {
  border-top-color: yellow;
  border-right-color: yellow;
}

.ConsoleLine:global(.textCenter) {
  text-align: center;
}

.white { color: white; }
.yellow { color: yellow; }
.purple { color: fuchsia; }

.isUser { color: white; }
/*
.char { animation: fade-in 200ms linear both; }
.char:nth-child(1)  { animation-delay: 10ms; }
.char:nth-child(2)  { animation-delay: 20ms; }
.char:nth-child(3)  { animation-delay: 30ms; }
.char:nth-child(4)  { animation-delay: 40ms; }
.char:nth-child(5)  { animation-delay: 50ms; }
.char:nth-child(6)  { animation-delay: 60ms; }
.char:nth-child(7)  { animation-delay: 70ms; }
.char:nth-child(8)  { animation-delay: 80ms; }
.char:nth-child(9)  { animation-delay: 90ms; }
.char:nth-child(10) { animation-delay: 100ms; }
.char:nth-child(11) { animation-delay: 110ms; }
.char:nth-child(12) { animation-delay: 120ms; }
.char:nth-child(13) { animation-delay: 130ms; }
.char:nth-child(14) { animation-delay: 140ms; }
.char:nth-child(15) { animation-delay: 150ms; }
.char:nth-child(16) { animation-delay: 160ms; }
.char:nth-child(17) { animation-delay: 170ms; }
.char:nth-child(18) { animation-delay: 180ms; }
.char:nth-child(19) { animation-delay: 190ms; }
.char:nth-child(20) { animation-delay: 200ms; }
.char:nth-child(21) { animation-delay: 210ms; }
.char:nth-child(22) { animation-delay: 220ms; }
.char:nth-child(23) { animation-delay: 230ms; }
.char:nth-child(24) { animation-delay: 240ms; }
.char:nth-child(25) { animation-delay: 250ms; }
.char:nth-child(26) { animation-delay: 260ms; }
.char:nth-child(27) { animation-delay: 270ms; }
.char:nth-child(28) { animation-delay: 280ms; }
.char:nth-child(29) { animation-delay: 290ms; }
.char:nth-child(30) { animation-delay: 300ms; }
.char:nth-child(31) { animation-delay: 310ms; }
.char:nth-child(32) { animation-delay: 320ms; }
.char:nth-child(33) { animation-delay: 330ms; }
.char:nth-child(34) { animation-delay: 340ms; }
.char:nth-child(35) { animation-delay: 350ms; }
.char:nth-child(36) { animation-delay: 360ms; }
.char:nth-child(37) { animation-delay: 370ms; }
.char:nth-child(38) { animation-delay: 380ms; }
.char:nth-child(39) { animation-delay: 390ms; }
.char:nth-child(40) { animation-delay: 400ms; }
.char:nth-child(41) { animation-delay: 410ms; }
.char:nth-child(42) { animation-delay: 420ms; }
.char:nth-child(43) { animation-delay: 430ms; }
.char:nth-child(44) { animation-delay: 440ms; }
.char:nth-child(45) { animation-delay: 450ms; }
.char:nth-child(46) { animation-delay: 460ms; }
.char:nth-child(47) { animation-delay: 470ms; }
.char:nth-child(48) { animation-delay: 480ms; }
.char:nth-child(49) { animation-delay: 490ms; }
.char:nth-child(50) { animation-delay: 500ms; }
.char:nth-child(51) { animation-delay: 510ms; }
.char:nth-child(52) { animation-delay: 520ms; }
.char:nth-child(53) { animation-delay: 530ms; }
.char:nth-child(54) { animation-delay: 540ms; }
.char:nth-child(55) { animation-delay: 550ms; }
.char:nth-child(56) { animation-delay: 560ms; }
.char:nth-child(57) { animation-delay: 570ms; }
.char:nth-child(58) { animation-delay: 580ms; }
.char:nth-child(59) { animation-delay: 590ms; }
.char:nth-child(60) { animation-delay: 600ms; }
.char:nth-child(61) { animation-delay: 610ms; }
.char:nth-child(62) { animation-delay: 620ms; }
.char:nth-child(63) { animation-delay: 630ms; }
.char:nth-child(64) { animation-delay: 640ms; }
.char:nth-child(65) { animation-delay: 650ms; }
.char:nth-child(66) { animation-delay: 660ms; }
.char:nth-child(67) { animation-delay: 670ms; }
.char:nth-child(68) { animation-delay: 680ms; }
.char:nth-child(69) { animation-delay: 690ms; }
.char:nth-child(70) { animation-delay: 700ms; }
.char:nth-child(71) { animation-delay: 710ms; }
.char:nth-child(72) { animation-delay: 720ms; }
.char:nth-child(73) { animation-delay: 730ms; }
.char:nth-child(74) { animation-delay: 740ms; }
.char:nth-child(75) { animation-delay: 750ms; }
.char:nth-child(76) { animation-delay: 760ms; }
.char:nth-child(77) { animation-delay: 770ms; }
.char:nth-child(78) { animation-delay: 780ms; }
.char:nth-child(79) { animation-delay: 790ms; }
.char:nth-child(80) { animation-delay: 800ms; }
.char:nth-child(81) { animation-delay: 810ms; }
.char:nth-child(82) { animation-delay: 820ms; }
.char:nth-child(83) { animation-delay: 830ms; }
.char:nth-child(84) { animation-delay: 840ms; }
.char:nth-child(85) { animation-delay: 850ms; }
.char:nth-child(86) { animation-delay: 860ms; }
.char:nth-child(87) { animation-delay: 870ms; }
.char:nth-child(88) { animation-delay: 880ms; }
.char:nth-child(89) { animation-delay: 890ms; }
.char:nth-child(90) { animation-delay: 900ms; }
.char:nth-child(91) { animation-delay: 910ms; }
.char:nth-child(92) { animation-delay: 920ms; }
.char:nth-child(93) { animation-delay: 930ms; }
.char:nth-child(94) { animation-delay: 940ms; }
.char:nth-child(95) { animation-delay: 950ms; }
.char:nth-child(96) { animation-delay: 960ms; }
.char:nth-child(97) { animation-delay: 970ms; }
.char:nth-child(98) { animation-delay: 980ms; }
.char:nth-child(99) { animation-delay: 990ms; }

.char:nth-child(100) { animation-delay: 1000ms; }
.char:nth-child(101) { animation-delay: 1010ms; }
.char:nth-child(102) { animation-delay: 1020ms; }
.char:nth-child(103) { animation-delay: 1030ms; }
.char:nth-child(104) { animation-delay: 1040ms; }
.char:nth-child(105) { animation-delay: 1050ms; }
.char:nth-child(106) { animation-delay: 1060ms; }
.char:nth-child(107) { animation-delay: 1070ms; }
.char:nth-child(108) { animation-delay: 1080ms; }
.char:nth-child(109) { animation-delay: 1090ms; }
.char:nth-child(110) { animation-delay: 1100ms; }
.char:nth-child(111) { animation-delay: 1110ms; }
.char:nth-child(112) { animation-delay: 1120ms; }
.char:nth-child(113) { animation-delay: 1130ms; }
.char:nth-child(114) { animation-delay: 1140ms; }
.char:nth-child(115) { animation-delay: 1150ms; }
.char:nth-child(116) { animation-delay: 1160ms; }
.char:nth-child(117) { animation-delay: 1170ms; }
.char:nth-child(118) { animation-delay: 1180ms; }
.char:nth-child(119) { animation-delay: 1190ms; }
.char:nth-child(120) { animation-delay: 1200ms; }
.char:nth-child(121) { animation-delay: 1210ms; }
.char:nth-child(122) { animation-delay: 1220ms; }
.char:nth-child(123) { animation-delay: 1230ms; }
.char:nth-child(124) { animation-delay: 1240ms; }
.char:nth-child(125) { animation-delay: 1250ms; }
.char:nth-child(126) { animation-delay: 1260ms; }
.char:nth-child(127) { animation-delay: 1270ms; }
.char:nth-child(128) { animation-delay: 1280ms; }
.char:nth-child(129) { animation-delay: 1290ms; }
.char:nth-child(130) { animation-delay: 1300ms; }
.char:nth-child(131) { animation-delay: 1310ms; }
.char:nth-child(132) { animation-delay: 1320ms; }
.char:nth-child(133) { animation-delay: 1330ms; }
.char:nth-child(134) { animation-delay: 1340ms; }
.char:nth-child(135) { animation-delay: 1350ms; }
.char:nth-child(136) { animation-delay: 1360ms; }
.char:nth-child(137) { animation-delay: 1370ms; }
.char:nth-child(138) { animation-delay: 1380ms; }
.char:nth-child(139) { animation-delay: 1390ms; }
.char:nth-child(140) { animation-delay: 1400ms; }
.char:nth-child(141) { animation-delay: 1410ms; }
.char:nth-child(142) { animation-delay: 1420ms; }
.char:nth-child(143) { animation-delay: 1430ms; }
.char:nth-child(144) { animation-delay: 1440ms; }
.char:nth-child(145) { animation-delay: 1450ms; }
.char:nth-child(146) { animation-delay: 1460ms; }
.char:nth-child(147) { animation-delay: 1470ms; }
.char:nth-child(148) { animation-delay: 1480ms; }
.char:nth-child(149) { animation-delay: 1490ms; }
.char:nth-child(150) { animation-delay: 1500ms; }
.char:nth-child(151) { animation-delay: 1510ms; }
.char:nth-child(152) { animation-delay: 1520ms; }
.char:nth-child(153) { animation-delay: 1530ms; }
.char:nth-child(154) { animation-delay: 1540ms; }
.char:nth-child(155) { animation-delay: 1550ms; }
.char:nth-child(156) { animation-delay: 1560ms; }
.char:nth-child(157) { animation-delay: 1570ms; }
.char:nth-child(158) { animation-delay: 1580ms; }
.char:nth-child(159) { animation-delay: 1590ms; }
.char:nth-child(160) { animation-delay: 1600ms; }
.char:nth-child(161) { animation-delay: 1610ms; }
.char:nth-child(162) { animation-delay: 1620ms; }
.char:nth-child(163) { animation-delay: 1630ms; }
.char:nth-child(164) { animation-delay: 1640ms; }
.char:nth-child(165) { animation-delay: 1650ms; }
.char:nth-child(166) { animation-delay: 1660ms; }
.char:nth-child(167) { animation-delay: 1670ms; }
.char:nth-child(168) { animation-delay: 1680ms; }
.char:nth-child(169) { animation-delay: 1690ms; }
.char:nth-child(170) { animation-delay: 1700ms; }
.char:nth-child(171) { animation-delay: 1710ms; }
.char:nth-child(172) { animation-delay: 1720ms; }
.char:nth-child(173) { animation-delay: 1730ms; }
.char:nth-child(174) { animation-delay: 1740ms; }
.char:nth-child(175) { animation-delay: 1750ms; }
.char:nth-child(176) { animation-delay: 1760ms; }
.char:nth-child(177) { animation-delay: 1770ms; }
.char:nth-child(178) { animation-delay: 1780ms; }
.char:nth-child(179) { animation-delay: 1790ms; }
.char:nth-child(180) { animation-delay: 1800ms; }
.char:nth-child(181) { animation-delay: 1810ms; }
.char:nth-child(182) { animation-delay: 1820ms; }
.char:nth-child(183) { animation-delay: 1830ms; }
.char:nth-child(184) { animation-delay: 1840ms; }
.char:nth-child(185) { animation-delay: 1850ms; }
.char:nth-child(186) { animation-delay: 1860ms; }
.char:nth-child(187) { animation-delay: 1870ms; }
.char:nth-child(188) { animation-delay: 1880ms; }
.char:nth-child(189) { animation-delay: 1890ms; }
.char:nth-child(190) { animation-delay: 1900ms; }
.char:nth-child(191) { animation-delay: 1910ms; }
.char:nth-child(192) { animation-delay: 1920ms; }
.char:nth-child(193) { animation-delay: 1930ms; }
.char:nth-child(194) { animation-delay: 1940ms; }
.char:nth-child(195) { animation-delay: 1950ms; }
.char:nth-child(196) { animation-delay: 1960ms; }
.char:nth-child(197) { animation-delay: 1970ms; }
.char:nth-child(198) { animation-delay: 1980ms; }
.char:nth-child(199) { animation-delay: 1990ms; }

.char:nth-child(200) { animation-delay: 2000ms; }
.char:nth-child(201) { animation-delay: 2010ms; }
.char:nth-child(202) { animation-delay: 2020ms; }
.char:nth-child(203) { animation-delay: 2030ms; }
.char:nth-child(204) { animation-delay: 2040ms; }
.char:nth-child(205) { animation-delay: 2050ms; }
.char:nth-child(206) { animation-delay: 2060ms; }
.char:nth-child(207) { animation-delay: 2070ms; }
.char:nth-child(208) { animation-delay: 2080ms; }
.char:nth-child(209) { animation-delay: 2090ms; }
.char:nth-child(210) { animation-delay: 2100ms; }
.char:nth-child(211) { animation-delay: 2110ms; }
.char:nth-child(212) { animation-delay: 2120ms; }
.char:nth-child(213) { animation-delay: 2130ms; }
.char:nth-child(214) { animation-delay: 2140ms; }
.char:nth-child(215) { animation-delay: 2150ms; }
.char:nth-child(216) { animation-delay: 2160ms; }
.char:nth-child(217) { animation-delay: 2170ms; }
.char:nth-child(218) { animation-delay: 2180ms; }
.char:nth-child(219) { animation-delay: 2190ms; }
.char:nth-child(220) { animation-delay: 2200ms; }
.char:nth-child(221) { animation-delay: 2210ms; }
.char:nth-child(222) { animation-delay: 2220ms; }
.char:nth-child(223) { animation-delay: 2230ms; }
.char:nth-child(224) { animation-delay: 2240ms; }
.char:nth-child(225) { animation-delay: 2250ms; }
.char:nth-child(226) { animation-delay: 2260ms; }
.char:nth-child(227) { animation-delay: 2270ms; }
.char:nth-child(228) { animation-delay: 2280ms; }
.char:nth-child(229) { animation-delay: 2290ms; }
.char:nth-child(230) { animation-delay: 2300ms; }
.char:nth-child(231) { animation-delay: 2310ms; }
.char:nth-child(232) { animation-delay: 2320ms; }
.char:nth-child(233) { animation-delay: 2330ms; }
.char:nth-child(234) { animation-delay: 2340ms; }
.char:nth-child(235) { animation-delay: 2350ms; }
.char:nth-child(236) { animation-delay: 2360ms; }
.char:nth-child(237) { animation-delay: 2370ms; }
.char:nth-child(238) { animation-delay: 2380ms; }
.char:nth-child(239) { animation-delay: 2390ms; }
.char:nth-child(240) { animation-delay: 2400ms; }
.char:nth-child(241) { animation-delay: 2410ms; }
.char:nth-child(242) { animation-delay: 2420ms; }
.char:nth-child(243) { animation-delay: 2430ms; }
.char:nth-child(244) { animation-delay: 2440ms; }
.char:nth-child(245) { animation-delay: 2450ms; }
.char:nth-child(246) { animation-delay: 2460ms; }
.char:nth-child(247) { animation-delay: 2470ms; }
.char:nth-child(248) { animation-delay: 2480ms; }
.char:nth-child(249) { animation-delay: 2490ms; }
.char:nth-child(250) { animation-delay: 2500ms; }
.char:nth-child(251) { animation-delay: 2510ms; }
.char:nth-child(252) { animation-delay: 2520ms; }
.char:nth-child(253) { animation-delay: 2530ms; }
.char:nth-child(254) { animation-delay: 2540ms; }
.char:nth-child(255) { animation-delay: 2550ms; }
.char:nth-child(256) { animation-delay: 2560ms; }
.char:nth-child(257) { animation-delay: 2570ms; }
.char:nth-child(258) { animation-delay: 2580ms; }
.char:nth-child(259) { animation-delay: 2590ms; }
.char:nth-child(260) { animation-delay: 2600ms; }
.char:nth-child(261) { animation-delay: 2610ms; }
.char:nth-child(262) { animation-delay: 2620ms; }
.char:nth-child(263) { animation-delay: 2630ms; }
.char:nth-child(264) { animation-delay: 2640ms; }
.char:nth-child(265) { animation-delay: 2650ms; }
.char:nth-child(266) { animation-delay: 2660ms; }
.char:nth-child(267) { animation-delay: 2670ms; }
.char:nth-child(268) { animation-delay: 2680ms; }
.char:nth-child(269) { animation-delay: 2690ms; }
.char:nth-child(270) { animation-delay: 2700ms; }
.char:nth-child(271) { animation-delay: 2710ms; }
.char:nth-child(272) { animation-delay: 2720ms; }
.char:nth-child(273) { animation-delay: 2730ms; }
.char:nth-child(274) { animation-delay: 2740ms; }
.char:nth-child(275) { animation-delay: 2750ms; }
.char:nth-child(276) { animation-delay: 2760ms; }
.char:nth-child(277) { animation-delay: 2770ms; }
.char:nth-child(278) { animation-delay: 2780ms; }
.char:nth-child(279) { animation-delay: 2790ms; }
.char:nth-child(280) { animation-delay: 2800ms; }
.char:nth-child(281) { animation-delay: 2810ms; }
.char:nth-child(282) { animation-delay: 2820ms; }
.char:nth-child(283) { animation-delay: 2830ms; }
.char:nth-child(284) { animation-delay: 2840ms; }
.char:nth-child(285) { animation-delay: 2850ms; }
.char:nth-child(286) { animation-delay: 2860ms; }
.char:nth-child(287) { animation-delay: 2870ms; }
.char:nth-child(288) { animation-delay: 2880ms; }
.char:nth-child(289) { animation-delay: 2890ms; }
.char:nth-child(290) { animation-delay: 2900ms; }
.char:nth-child(291) { animation-delay: 2910ms; }
.char:nth-child(292) { animation-delay: 2920ms; }
.char:nth-child(293) { animation-delay: 2930ms; }
.char:nth-child(294) { animation-delay: 2940ms; }
.char:nth-child(295) { animation-delay: 2950ms; }
.char:nth-child(296) { animation-delay: 2960ms; }
.char:nth-child(297) { animation-delay: 2970ms; }
.char:nth-child(298) { animation-delay: 2980ms; }
.char:nth-child(299) { animation-delay: 2990ms; }

.char:nth-child(300) { animation-delay: 3000ms; }
.char:nth-child(301) { animation-delay: 3010ms; }
.char:nth-child(302) { animation-delay: 3020ms; }
.char:nth-child(303) { animation-delay: 3030ms; }
.char:nth-child(304) { animation-delay: 3040ms; }
.char:nth-child(305) { animation-delay: 3050ms; }
.char:nth-child(306) { animation-delay: 3060ms; }
.char:nth-child(307) { animation-delay: 3070ms; }
.char:nth-child(308) { animation-delay: 3080ms; }
.char:nth-child(309) { animation-delay: 3090ms; }
.char:nth-child(310) { animation-delay: 3100ms; }
.char:nth-child(311) { animation-delay: 3110ms; }
.char:nth-child(312) { animation-delay: 3120ms; }
.char:nth-child(313) { animation-delay: 3130ms; }
.char:nth-child(314) { animation-delay: 3140ms; }
.char:nth-child(315) { animation-delay: 3150ms; }
.char:nth-child(316) { animation-delay: 3160ms; }
.char:nth-child(317) { animation-delay: 3170ms; }
.char:nth-child(318) { animation-delay: 3180ms; }
.char:nth-child(319) { animation-delay: 3190ms; }
.char:nth-child(320) { animation-delay: 3200ms; }
.char:nth-child(321) { animation-delay: 3210ms; }
.char:nth-child(322) { animation-delay: 3220ms; }
.char:nth-child(323) { animation-delay: 3230ms; }
.char:nth-child(324) { animation-delay: 3240ms; }
.char:nth-child(325) { animation-delay: 3250ms; }
.char:nth-child(326) { animation-delay: 3260ms; }
.char:nth-child(327) { animation-delay: 3270ms; }
.char:nth-child(328) { animation-delay: 3280ms; }
.char:nth-child(329) { animation-delay: 3290ms; }
.char:nth-child(330) { animation-delay: 3300ms; }
.char:nth-child(331) { animation-delay: 3310ms; }
.char:nth-child(332) { animation-delay: 3320ms; }
.char:nth-child(333) { animation-delay: 3330ms; }
.char:nth-child(334) { animation-delay: 3340ms; }
.char:nth-child(335) { animation-delay: 3350ms; }
.char:nth-child(336) { animation-delay: 3360ms; }
.char:nth-child(337) { animation-delay: 3370ms; }
.char:nth-child(338) { animation-delay: 3380ms; }
.char:nth-child(339) { animation-delay: 3390ms; }
.char:nth-child(340) { animation-delay: 3400ms; }
.char:nth-child(341) { animation-delay: 3410ms; }
.char:nth-child(342) { animation-delay: 3420ms; }
.char:nth-child(343) { animation-delay: 3430ms; }
.char:nth-child(344) { animation-delay: 3440ms; }
.char:nth-child(345) { animation-delay: 3450ms; }
.char:nth-child(346) { animation-delay: 3460ms; }
.char:nth-child(347) { animation-delay: 3470ms; }
.char:nth-child(348) { animation-delay: 3480ms; }
.char:nth-child(349) { animation-delay: 3490ms; }
.char:nth-child(350) { animation-delay: 3500ms; }
.char:nth-child(351) { animation-delay: 3510ms; }
.char:nth-child(352) { animation-delay: 3520ms; }
.char:nth-child(353) { animation-delay: 3530ms; }
.char:nth-child(354) { animation-delay: 3540ms; }
.char:nth-child(355) { animation-delay: 3550ms; }
.char:nth-child(356) { animation-delay: 3560ms; }
.char:nth-child(357) { animation-delay: 3570ms; }
.char:nth-child(358) { animation-delay: 3580ms; }
.char:nth-child(359) { animation-delay: 3590ms; }
.char:nth-child(360) { animation-delay: 3600ms; }
.char:nth-child(361) { animation-delay: 3610ms; }
.char:nth-child(362) { animation-delay: 3620ms; }
.char:nth-child(363) { animation-delay: 3630ms; }
.char:nth-child(364) { animation-delay: 3640ms; }
.char:nth-child(365) { animation-delay: 3650ms; }
.char:nth-child(366) { animation-delay: 3660ms; }
.char:nth-child(367) { animation-delay: 3670ms; }
.char:nth-child(368) { animation-delay: 3680ms; }
.char:nth-child(369) { animation-delay: 3690ms; }
.char:nth-child(370) { animation-delay: 3700ms; }
.char:nth-child(371) { animation-delay: 3710ms; }
.char:nth-child(372) { animation-delay: 3720ms; }
.char:nth-child(373) { animation-delay: 3730ms; }
.char:nth-child(374) { animation-delay: 3740ms; }
.char:nth-child(375) { animation-delay: 3750ms; }
.char:nth-child(376) { animation-delay: 3760ms; }
.char:nth-child(377) { animation-delay: 3770ms; }
.char:nth-child(378) { animation-delay: 3780ms; }
.char:nth-child(379) { animation-delay: 3790ms; }
.char:nth-child(380) { animation-delay: 3800ms; }
.char:nth-child(381) { animation-delay: 3810ms; }
.char:nth-child(382) { animation-delay: 3820ms; }
.char:nth-child(383) { animation-delay: 3830ms; }
.char:nth-child(384) { animation-delay: 3840ms; }
.char:nth-child(385) { animation-delay: 3850ms; }
.char:nth-child(386) { animation-delay: 3860ms; }
.char:nth-child(387) { animation-delay: 3870ms; }
.char:nth-child(388) { animation-delay: 3880ms; }
.char:nth-child(389) { animation-delay: 3890ms; }
.char:nth-child(390) { animation-delay: 3900ms; }
.char:nth-child(391) { animation-delay: 3910ms; }
.char:nth-child(392) { animation-delay: 3920ms; }
.char:nth-child(393) { animation-delay: 3930ms; }
.char:nth-child(394) { animation-delay: 3940ms; }
.char:nth-child(395) { animation-delay: 3950ms; }
.char:nth-child(396) { animation-delay: 3960ms; }
.char:nth-child(397) { animation-delay: 3970ms; }
.char:nth-child(398) { animation-delay: 3980ms; }
.char:nth-child(399) { animation-delay: 3990ms; }

.char:nth-child(400) { animation-delay: 4000ms; }
.char:nth-child(401) { animation-delay: 4010ms; }
.char:nth-child(402) { animation-delay: 4020ms; }
.char:nth-child(403) { animation-delay: 4030ms; }
.char:nth-child(404) { animation-delay: 4040ms; }
.char:nth-child(405) { animation-delay: 4050ms; }
.char:nth-child(406) { animation-delay: 4060ms; }
.char:nth-child(407) { animation-delay: 4070ms; }
.char:nth-child(408) { animation-delay: 4080ms; }
.char:nth-child(409) { animation-delay: 4090ms; }
.char:nth-child(410) { animation-delay: 4100ms; }
.char:nth-child(411) { animation-delay: 4110ms; }
.char:nth-child(412) { animation-delay: 4120ms; }
.char:nth-child(413) { animation-delay: 4130ms; }
.char:nth-child(414) { animation-delay: 4140ms; }
.char:nth-child(415) { animation-delay: 4150ms; }
.char:nth-child(416) { animation-delay: 4160ms; }
.char:nth-child(417) { animation-delay: 4170ms; }
.char:nth-child(418) { animation-delay: 4180ms; }
.char:nth-child(419) { animation-delay: 4190ms; }
.char:nth-child(420) { animation-delay: 4200ms; }
.char:nth-child(421) { animation-delay: 4210ms; }
.char:nth-child(422) { animation-delay: 4220ms; }
.char:nth-child(423) { animation-delay: 4230ms; }
.char:nth-child(424) { animation-delay: 4240ms; }
.char:nth-child(425) { animation-delay: 4250ms; }
.char:nth-child(426) { animation-delay: 4260ms; }
.char:nth-child(427) { animation-delay: 4270ms; }
.char:nth-child(428) { animation-delay: 4280ms; }
.char:nth-child(429) { animation-delay: 4290ms; }
.char:nth-child(430) { animation-delay: 4300ms; }
.char:nth-child(431) { animation-delay: 4310ms; }
.char:nth-child(432) { animation-delay: 4320ms; }
.char:nth-child(433) { animation-delay: 4330ms; }
.char:nth-child(434) { animation-delay: 4340ms; }
.char:nth-child(435) { animation-delay: 4350ms; }
.char:nth-child(436) { animation-delay: 4360ms; }
.char:nth-child(437) { animation-delay: 4370ms; }
.char:nth-child(438) { animation-delay: 4380ms; }
.char:nth-child(439) { animation-delay: 4390ms; }
.char:nth-child(440) { animation-delay: 4400ms; }
.char:nth-child(441) { animation-delay: 4410ms; }
.char:nth-child(442) { animation-delay: 4420ms; }
.char:nth-child(443) { animation-delay: 4430ms; }
.char:nth-child(444) { animation-delay: 4440ms; }
.char:nth-child(445) { animation-delay: 4450ms; }
.char:nth-child(446) { animation-delay: 4460ms; }
.char:nth-child(447) { animation-delay: 4470ms; }
.char:nth-child(448) { animation-delay: 4480ms; }
.char:nth-child(449) { animation-delay: 4490ms; }
.char:nth-child(450) { animation-delay: 4500ms; }
.char:nth-child(451) { animation-delay: 4510ms; }
.char:nth-child(452) { animation-delay: 4520ms; }
.char:nth-child(453) { animation-delay: 4530ms; }
.char:nth-child(454) { animation-delay: 4540ms; }
.char:nth-child(455) { animation-delay: 4550ms; }
.char:nth-child(456) { animation-delay: 4560ms; }
.char:nth-child(457) { animation-delay: 4570ms; }
.char:nth-child(458) { animation-delay: 4580ms; }
.char:nth-child(459) { animation-delay: 4590ms; }
.char:nth-child(460) { animation-delay: 4600ms; }
.char:nth-child(461) { animation-delay: 4610ms; }
.char:nth-child(462) { animation-delay: 4620ms; }
.char:nth-child(463) { animation-delay: 4630ms; }
.char:nth-child(464) { animation-delay: 4640ms; }
.char:nth-child(465) { animation-delay: 4650ms; }
.char:nth-child(466) { animation-delay: 4660ms; }
.char:nth-child(467) { animation-delay: 4670ms; }
.char:nth-child(468) { animation-delay: 4680ms; }
.char:nth-child(469) { animation-delay: 4690ms; }
.char:nth-child(470) { animation-delay: 4700ms; }
.char:nth-child(471) { animation-delay: 4710ms; }
.char:nth-child(472) { animation-delay: 4720ms; }
.char:nth-child(473) { animation-delay: 4730ms; }
.char:nth-child(474) { animation-delay: 4740ms; }
.char:nth-child(475) { animation-delay: 4750ms; }
.char:nth-child(476) { animation-delay: 4760ms; }
.char:nth-child(477) { animation-delay: 4770ms; }
.char:nth-child(478) { animation-delay: 4780ms; }
.char:nth-child(479) { animation-delay: 4790ms; }
.char:nth-child(480) { animation-delay: 4800ms; }
.char:nth-child(481) { animation-delay: 4810ms; }
.char:nth-child(482) { animation-delay: 4820ms; }
.char:nth-child(483) { animation-delay: 4830ms; }
.char:nth-child(484) { animation-delay: 4840ms; }
.char:nth-child(485) { animation-delay: 4850ms; }
.char:nth-child(486) { animation-delay: 4860ms; }
.char:nth-child(487) { animation-delay: 4870ms; }
.char:nth-child(488) { animation-delay: 4880ms; }
.char:nth-child(489) { animation-delay: 4890ms; }
.char:nth-child(490) { animation-delay: 4900ms; }
.char:nth-child(491) { animation-delay: 4910ms; }
.char:nth-child(492) { animation-delay: 4920ms; }
.char:nth-child(493) { animation-delay: 4930ms; }
.char:nth-child(494) { animation-delay: 4940ms; }
.char:nth-child(495) { animation-delay: 4950ms; }
.char:nth-child(496) { animation-delay: 4960ms; }
.char:nth-child(497) { animation-delay: 4970ms; }
.char:nth-child(498) { animation-delay: 4980ms; }
.char:nth-child(499) { animation-delay: 4990ms; }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
