.GameTitle {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;

  line-height: 1em;

  color: limegreen;
  font-size: 15vw;
  font-family: console, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  text-shadow: 0 0 1rem limegreen;
  text-align: center;

  white-space: pre;

  transform: translate3d(-50%,-50%,0);

  user-select: none;
}

.GameTitle :global(small) {
    display: block;
    line-height: 1em;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);

    font-size: 5rem;
    animation: cta 3s ease-in-out both 8s;
}

.GameTitle > :global(div) {
  animation: title 10s ease-in-out both;
}

.GameTitle > :global(div + div) {
  animation-delay: 200ms;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translate3d(0,50vh, 0);
  }
  33% {
    opacity: 1;
    transform: translate3d(0,0, 0);
  }
  66% {
    opacity: 1;
    transform: translate3d(0,0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0,-50vh, 0);
  }
}

@keyframes cta {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
